<!-- NAV BAR -->
<nav id="nav-bar" class="nav-bar">
  <div id="nav-left">
    <a class="logo" href="/home" style="text-decoration:none">Password KeepR</a>
    <form id="create" method="POST" action="/create-new">
      <button id="createPasswordSubmitButton" class="create-credential" type="submit">Create New Credential</button>
    </form>
  </div>
  <form id="nav-right" method="POST" action="/logout">
    <button class="logout" type="submit">Logout</button>
  </form>
</nav>

<!-- sidebar -->
<div id="sidenav" class="sidenav">
  <div id="searchBar">
    <textarea class="searchBar"></textarea>
  </div>
  <div class="sidebar-buttons">
    <button type="submit" class="search">search</button>
    <button type="button" id="myPasswordsButton">my passwords</button>
    <button type="button" id="socialMediaButton">social media</button>
    <button type="button" id="workButton">work</button>
    <button type="button" id="entertainmentButton">entertainment</button>
    <button type="button" id="myOrganizationButton">my organization</button>
  </div>
</div>
</div>
