<!-- NAV BAR -->
<nav id="nav-bar" class="nav-bar">
  <div id="nav-left">
    <a class="logo" href="/home" style="text-decoration:none">Password KeepR</a>
    <form id="create" method="POST" action="/create-new">
      <button id="createPasswordSubmitButton" class="create-credential" type="submit">Create New Credential</button>
    </form>
  </div>
  <form id="nav-right" method="POST" action="/logout">
    <button class="logout" type="submit">Logout</button>
  </form>
</nav>

<!-- sidebar -->
<div id="sidenav" class="sidenav">
  <div id="searchBar">
    <textarea class="searchBar" placeholder="Search..."></textarea>
  </div>
  <div class="sidebar-buttons">
    <button type="submit" class="sidebar-button" class="search">Search</button>
    <form id="mycredentials" method="POST" action="/mycredentials">
      <button type="submit" class="sidebar-button" id="myPasswordsButton">My Passwords</button>
    </form>
    <form id="social" method="POST" action="/social">
      <button type="submit" class="sidebar-button" id="socialMediaButton">Social Media</button>
    </form>
    <form id="work" method="POST" action="/work">
      <button type="submit" class="sidebar-button" id="workButton">Work</button>
    </form>
    <form id="entertainment" method="POST" action="/entertainment">
      <button type="submit" class="sidebar-button" id="entertainmentButton">Entertainment</button>
    </form>
    <button type="submit" class="sidebar-button" id="myOrganizationButton">My Organization</button>
  </div>
  <a class="attributes" href="https://clearbit.com">Logos provided by Clearbit</a>
</div>
</div>
