<!-- NAV BAR -->
<nav id="nav-bar" class="nav-bar">
  <div id="nav-left">
    <span class="logo">Password KeepR</span>
    <form id="create" method="POST" action="/create-new">
      <button id="createPasswordSubmitButton" class="create-credential" type="submit">Create New Credential</button>
    </form>
  </div>
  <form id="nav-right" method="POST" action="/logout">
    <button class="logout" type="submit">Logout</button>
  </form>
</nav>

<!-- sidebar -->
<div id="sidenav" class="sidenav">
  <div id="searchBar">
    <textarea class="searchBar" placeholder="Search..."></textarea>
  </div>
  <div class="sidebar-buttons">
    <button type="submit" class="search">Search</button>
    <button type="button" id="myPasswordsButton">My Passwords</button>
    <button type="button" id="socialMediaButton">Social Media</button>
    <button type="button" id="workButton">Work</button>
    <button type="button" id="entertainmentButton">Entertainment</button>
    <button type="button" id="myOrganizationButton">My Organization</button>
  </div>
</div>
</div>
