<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Password</title>

  <!-- CSS STYLE SHEETS -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;1,400;1,600;1,800;1,900&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,900&family=Zen+Dots&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

</head>

<body>
  <!-- NAV BAR -->
  <nav id="nav-bar" class="nav-bar">
    <%- include('./partials/nav') %>
  </nav>
  <div id="main-container">
    <main style="margin: 1em;">
      <form id="updateForm" method="POST" action="/home" class="form-inline">
        <div class="form-group mb-2">
          <label>Update Password</label>


          <div>
            <button type="button">Generate Password</button>
            <input class="form-control" id="newUsername" type="text" placeholder="New Username"
              style="width: 300px; margin: 1em">
            <input class="form-control" id="newPassword" type="text" placeholder="New Password"
              style="width: 300px; margin: 1em">
            <input class="form-control" id="newCategory" type="text" placeholder="New category"
              style="width: 300px; margin: 1em">
            <button id="updatePasswordButton" type="button">Update</button>
          </div>
        </div>
      </form>
    </main>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</body>

</html>
