<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="../styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <nav>
    <span class="logo">Password KeepR</span>
    <form method="POST" action="/register">
      <div class="buttons">
        <button class="register" type="submit">Register</button>
    </form>
    <form method="POST" action="/login">
      <button class="login" type="submit">Login</button>
    </form>
    </div>
  </nav>

  <header>
    <div class="welcome-header">
      <h1>Password KeepR</h1>
      <div class="header-buttons">
        <form method="POST" action="/register">
          <button class="register-header" type="submit">Register</button>
        </form>
        <form method="POST" action="/login">
          <button class="login-header" type="submit">Login</button>
        </form>
      </div>
    </div>
  </header>

  <main>
    <h2>FEATURES</h2>
    <div class="features-block">
      <div class="feature-box">
        <span class="feature-text">Store your organizations usernames and passwords for later!</span>
      </div>
      <div class="feature-box">
        <span class="feature-text">All members of your organization can access the full suite of passwords!</span>
      </div>
      <div class="feature-box">
        <span class="feature-text">Categorize your credentials for easier search and access!</span>
      </div>
    </div>
  </main>
</body>

</html>
